
.register {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: auto;
  }

  .register__background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
  
.register__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: rgba(124, 58, 237, .9);
    border-radius: 10px;
}

.logo__box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo__box h5{
    color: #fff; 
}

.register__wrapper h2{
    margin-top: 30px;
    color: #fff;
    font-size: 2rem;
    line-height: 30px;
}

.register__form{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
}

.register__form input{
    padding: 0.7rem 1.5rem;
    border: none;
    outline: none;
    font-size: 1rem;
    cursor: pointer;
}

.login__box p{
    font-size: 0.8rem;
}