.header__mini{
    overflow-y: scroll;
}

.header__mini ul{
    position: absolute;
    top: 80px;
    left: 0;
    width: 55%;
    flex-direction: column;
    row-gap: 1rem;
    background-color: rgb(192, 176, 218);
    z-index: 750;
    height: 100vh;
    padding-top: 60px;
    padding-left: 35px;
    display: none;
}

.header__mini ul li{
    list-style: none;
    color: #fff;
}


@media only screen and (max-width: 780px) {
    .overlay{
        display: block;
    }
    .header__mini ul{
        display: flex;
    }
   }